.container {
  width: 100%;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  font-size: 13px;
  border-color: #000000;

  box-shadow: 3px 1px 3px 3px rgba(1, 124, 225, 0.2);
  font-family: system-ui;
}
.fill {
  font-size: 1.2em;
  color: #0c0a0a;
  margin-top: 20px;
}
.form-group {
  margin: 15px;
}
#pswdHelp {
  color: indianred;
  font-size: 0.8em;
  margin-top: 5px;
}
